<hr>
<nav>
    <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="/current-tenders">List of Tenders</a></li>
        <li><a href="/closed-tenders">List of closed Tenders</a></li>
        <li><a href="/add-tender">Add a Tender</a></li>
    </ul>
</nav>
