<!DOCTYPE html>
<html>
<head>
    <title>Tender List</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<h1>Closed Tenders</h1>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
    </tr>
    <% tenders.forEach(function(tender) { %>
        <tr>
            <td><%= tender.id %></td>
            <td><a href="/offer-list/<%= tender.id %>"><%= tender.name %></a></td>
            <td>Tender closed</td>
        </tr>
    <% }); %>
</table>
<%- include('partials/navigation.ejs') %>
</body>
</html>
