<!DOCTYPE html>
<html>
<head>
  <title>Tender system</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Tender system</h1>
<p>Witaj w naszym systemie zarządzania przetargami! Możesz dodawać i wyświetlać przetargi oraz składać na nie oferty. Wykorzystaj menu, aby nawigować pomiędzy różnymi sekcjami.</p>
<hr>
<nav>
  <ul>
    <li><a href="/">Strona główna</a></li>
    <li><a href="/tenders">Lista przetargów</a></li>
    <li><a href="/closed-tenders">Lista zakończonych przetargów</a></li>
    <li><a href="/add-tender">Dodaj przetarg</a></li>
  </ul>
</nav>
</body>
</html>
