<!DOCTYPE html>
<html>
<head>
  <title>Tender System</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Tender System</h1>
<p>Welcome to our Tender Management System! You can add and view tenders as well as place bids on them. Use menu to navigate between different sections.</p>
<%- include('partials/navigation.ejs') %>
</body>
</html>
