<!DOCTYPE html>
<html>
<head>
    <title>Make Offer</title>
</head>
<body>
<h1>Make Offer</h1>
<form method="post" action="/add-offer/<%= tenderId %>">
    <label for="bidder">Bidder:</label><br>
    <input type="text" id="bidder" name="bidder" required><br>
    <label for="cost">Cost:</label><br>
    <input type="number" id="cost" name="cost" required><br>
    <input type="submit" value="Make Offer">
</form>
</body>
</html>
