<!DOCTYPE html>
<html>
<head>
    <title>Add Tender</title>
</head>
<body>
<h1>Add New Tender</h1>

<form action="/add-tender" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="content">Content:</label><br>
    <textarea id="content" name="content"></textarea><br>
    <label for="institution">Institution:</label><br>
    <input type="text" id="institution" name="institution"><br>
    <label for="budget">Budget:</label><br>
    <input type="number" id="budget" name="budget"><br>
    <label for="startDate">Start Date:</label><br>
    <input type="date" id="startDate" name="startDate"><br>
    <label for="endDate">End Date:</label><br>
    <input type="date" id="endDate" name="endDate"><br>
    <input type="submit" value="Add Tender">
</form>

</body>
</html>
