<!DOCTYPE html>
<html>
<head>
    <title>Offer list for closed Tender</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<h1>Offer list for closed Tender</h1>
<% if (offers.length > 0) { %>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <% offers.forEach(offer => { %>
            <tr>
                <td><%= offer.bidder %></td>
                <td><%= offer.cost %></td>
                <td><%= offer.date %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
<% } else { %>
    <p>No valid offers for this tender.</p>
<% } %>
</body>
<%- include('partials/navigation.ejs') %>
</html>
