<!DOCTYPE html>
<html>
<head>
    <title>Tender Detail</title>
</head>
<body>
<h1><%= tender.name %></h1>
<h3>Institution: <%= tender.institution %></h3>
<p><%= tender.content %></p>
<button id="offerButton" onclick="location.href='/add-offer/<%= tender.id %>'">Make Offer</button>
</body>
</html>
