table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#name, #content, #institution {
    width: 25%;
    min-width: 300px;
}

input, textarea {
    margin-bottom: 10px;
}

input[type=submit] {
    background-color: limegreen;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkgreen;
}
